if reservation
  tr
    td= reservation.noCli
    td= reservation.noReserv
    td= reservation.montant
    td= reservation.datentre
    td= reservation.datesortie
    td= reservation.payee
    td= reservation.noChambre